html[data-theme='minimal'].dark {
  --typography-font-size-text-xxs: 8;
  --typography-line-height-leading-none: 1;
  --typography-line-height-leading-heading-none: 60;
  --container-xs: 380;
  --border-border-radius-rounded-0: var(--spacing-0);
  --border-border-radius-rounded-xxs: var(--border-border-radius-rounded-sm);
  --border-border-radius-rounded-xs: var(--border-border-radius-rounded-sm);
  --border-border-radius-rounded-sm: var(--border-border-radius-rounded);
  --border-border-radius-rounded: var(--border-border-radius-rounded-md);
  --border-border-radius-rounded-base: var(--border-border-radius-rounded-lg);
  --border-border-radius-rounded-lg: var(--border-border-radius-rounded-2xl);
  --border-border-radius-rounded-xl: var(--border-border-radius-rounded-3xl);
  --border-border-radius-rounded-full: var(--border-border-radius-rounded-full);
  --border-border-width-border-0: var(--border-border-width-border-0);
  --border-border-width-border: var(--border-border-width-border);
  --border-border-width-border-md: var(--border-border-width-border-2);
  --border-border-width-border-lg: var(--border-border-width-border-4);
  --border-border-width-border-xl: var(--border-border-width-border-8);
  --typography-letter-spacing-tracking-tighter: var(--font-letter-spacing-tracking-tighter);
  --typography-letter-spacing-tracking-tight: var(--font-letter-spacing-tracking-tight);
  --typography-font-weight-font-normal: var(--font-weight-font-normal);
  --typography-font-weight-font-medium: var(--font-weight-font-medium);
  --typography-font-weight-font-semibold: var(--font-weight-font-semibold);
  --typography-font-weight-font-bold: var(--font-weight-font-bold);
  --typography-font-weight-font-extrabold: var(--font-weight-font-extrabold);
  --typography-font-family-font-base: Open Sans;
  --typography-font-size-text-xs: var(--font-size-xs);
  --typography-font-size-text-sm: var(--font-size-sm);
  --typography-font-size-text-base: var(--font-size-base);
  --typography-font-size-text-lg: var(--font-size-lg);
  --typography-font-size-text-xl: var(--font-size-xl);
  --typography-font-size-text-2xl: var(--font-size-2xl);
  --typography-font-size-text-3xl: var(--font-size-3xl);
  --typography-font-size-text-4xl: var(--font-size-4xl);
  --typography-font-size-text-5xl: var(--font-size-5xl);
  --typography-font-size-text-6xl: var(--font-size-6xl);
  --typography-line-height-leading-4: var(--spacing-4);
  --typography-line-height-leading-5: var(--spacing-5);
  --typography-line-height-leading-6: var(--spacing-6);
  --typography-line-height-leading-7: var(--spacing-7);
  --typography-line-height-leading-8: var(--spacing-8);
  --typography-line-height-leading-9: var(--spacing-9);
  --bg-variants-white: var(--colors-stone-950);
  --container-sm: var(--container-sm);
  --container-md: var(--container-md);
  --container-lg: var(--container-lg);
  --container-xl: var(--container-xl);
  --container-2xl: var(--container-2xl);
  --max-width-max-w-xs: var(--max-width-max-w-xs);
  --max-width-max-w-sm: var(--max-width-max-w-sm);
  --max-width-max-w-md: var(--max-width-max-w-md);
  --max-width-max-w-lg: var(--max-width-max-w-lg);
  --max-width-max-w-xl: var(--max-width-max-w-xl);
  --max-width-max-w-2xl: var(--max-width-max-w-2xl);
  --max-width-max-w-3xl: var(--max-width-max-w-3xl);
  --max-width-max-w-4xl: var(--max-width-max-w-4xl);
  --max-width-max-w-5xl: var(--max-width-max-w-5xl);
  --max-width-max-w-6xl: var(--max-width-max-w-6xl);
  --max-width-max-w-7xl: var(--max-width-max-w-7xl);
  --bg-variants-gray: var(--colors-stone-950);
  --colors-border-border-purple: var(--colors-purple-500);
  --colors-border-border-buffer-gradient-secondary: rgb(3 7 18 / 0.5);
  --colors-border-border-brand-subtle: var(--colors-stone-900);
  --colors-border-border-default-strong: var(--colors-stone-700);
  --colors-border-border-danger-subtle: var(--colors-red-900);
  --colors-border-border-default-medium: var(--colors-stone-800);
  --colors-background-bg-neutral-secondary-soft: var(--colors-stone-900);
  --colors-border-border-success: var(--colors-green-600);
  --colors-border-border-default: var(--colors-stone-800);
  --colors-border-border-success-subtle: var(--colors-green-900);
  --colors-border-border-default-subtle: var(--colors-stone-900);
  --colors-border-border-light: var(--colors-stone-800);
  --colors-border-border-light-subtle: var(--colors-stone-900);
  --colors-border-border-muted: var(--colors-stone-900);
  --colors-border-border-buffer-strong: var(--colors-stone-800);
  --colors-border-border-dark: var(--colors-stone-600);
  --colors-background-bg-neutral-primary-strong: var(--colors-stone-700);
  --colors-text-text-fg-lime: var(--colors-lime-500);
  --colors-background-bg-neutral-secondary: var(--colors-stone-950);
  --colors-text-text-fg-indigo: var(--colors-indigo-500);
  --colors-text-text-fg-info: var(--colors-stone-300);
  --colors-text-text-fg-yellow: var(--colors-yellow-400);
  --colors-text-text-fg-warning: var(--colors-orange-300);
  --colors-background-bg-neutral-primary-medium: var(--colors-stone-800);
  --colors-text-text-fg-warning-subtle: var(--colors-orange-500);
  --colors-border-border-buffer-medium: var(--colors-stone-900);
  --colors-text-text-fg-danger-strong: var(--colors-red-300);
  --colors-text-text-fg-pink: var(--colors-pink-500);
  --colors-text-text-fg-success: var(--colors-green-600);
  --colors-background-bg-danger-medium: var(--colors-red-900);
  --colors-text-text-fg-brand: var(--colors-stone-500);
  --colors-text-text-black: var(--colors-stone-950);
  --colors-text-text-fg-cyan: var(--colors-cyan-500);
  --colors-text-text-fg-purple: var(--colors-purple-500);
  --colors-background-bg-indigo: var(--colors-indigo-500);
  --colors-text-text-fg-brand-strong: var(--colors-stone-400);
  --colors-text-text-white: var(--white);
  --colors-border-border-brand-light: var(--colors-stone-600);
  --colors-background-bg-pink: var(--colors-pink-500);
  --colors-background-bg-teal: var(--colors-teal-500);
  --colors-border-border-danger: var(--colors-red-600);
  --colors-background-bg-brand-medium: var(--colors-stone-900);
  --colors-background-bg-sky: var(--colors-sky-500);
  --colors-border-border-warning: var(--colors-orange-600);
  --colors-background-bg-warning-soft: var(--colors-orange-950);
  --colors-background-bg-neutral-secondary-strong: var(--colors-stone-700);
  --colors-text-text-heading: var(--white);
  --colors-background-bg-disabled: var(--colors-stone-800);
  --colors-text-text-fg-brand-subtle: var(--colors-stone-200);
  --colors-background-bg-dark-strong: var(--colors-stone-700);
  --colors-background-bg-warning-strong: var(--colors-orange-700);
  --colors-background-bg-success: var(--colors-green-600);
  --colors-background-bg-warning-medium: var(--colors-orange-900);
  --colors-border-border-warning-subtle: var(--colors-orange-900);
  --colors-background-bg-warning: var(--colors-orange-600);
  --colors-text-text-fg-danger: var(--colors-red-500);
  --colors-background-bg-orange: var(--colors-orange-400);
  --colors-background-bg-fuchsia: var(--colors-fuchsia-500);
  --colors-background-bg-danger: var(--colors-red-700);
  --colors-background-bg-white: var(--white);
  --colors-border-border-brand: var(--colors-stone-600);
  --colors-background-bg-neutral-tertiary: var(--colors-stone-800);
  --colors-border-border-dark-subtle: var(--colors-stone-700);
  --colors-background-bg-neutral-quaternary: var(--colors-stone-700);
  --colors-background-bg-success-soft: var(--colors-green-900);
  --colors-background-bg-brand-strong: var(--colors-stone-700);
  --colors-border-border-light-medium: var(--colors-stone-700);
  --colors-background-bg-danger-strong: var(--colors-red-800);
  --colors-background-bg-success-strong: var(--colors-green-700);
  --colors-background-bg-dark: var(--colors-stone-800);
  --colors-background-bg-brand-soft: var(--colors-stone-900);
  --colors-background-bg-purple: var(--colors-purple-500);
  --colors-text-text-body: var(--colors-stone-400);
  --colors-border-border-buffer: var(--colors-stone-950);
  --colors-background-bg-brand-softer: var(--colors-stone-950);
  --colors-background-bg-neutral-tertiary-soft: var(--colors-stone-900);
  --colors-background-bg-quaternary-medium: var(--colors-stone-600);
  --colors-background-bg-neutral-tertiary-medium: var(--colors-stone-700);
  --colors-border-border-orange: var(--colors-orange-400);
  --colors-background-bg-neutral-primary: var(--colors-stone-950);
  --colors-background-bg-cyan: var(--colors-cyan-500);
  --colors-background-bg-neutral-primary-soft: var(--colors-stone-900);
  --colors-background-bg-success-medium: var(--colors-green-900);
  --colors-background-bg-brand: var(--colors-stone-600);
  --colors-text-text-body-subtle: var(--colors-stone-400);
  --colors-text-text-fg-success-strong: var(--colors-green-300);
  --colors-background-bg-gray: var(--colors-stone-600);
  --colors-background-bg-danger-soft: var(--colors-red-950);
  --colors-text-text-fg-disabled: var(--colors-stone-600);
  --colors-background-bg-neutral-secondary-medium: var(--colors-stone-800);
}
